.container {
  position: relative;
}

.intro {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  background-color: #000000;
}

.intro h1 {
  color: #fff;
  font-size: 4em;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main h1 {
  font-size: 6em;
}

.button {
  position: fixed;
  height: 1em;
  width: 5em;
  bottom: calc(10% - 16px);
  left: calc(50% - 80px);
  background: none;
  border: none;
  font-size: 2em;
  color: red;
  cursor: pointer 
}

.button:hover {
  font-size: 2.5em;
  bottom: calc(10% - 20px);
  left: calc(50% - 100px);
  
}

@media only screen and (max-width: 600px) {
  .main h1 {
    font-size: 2em;
  }
}
